<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--配置AOP aspectj-->
    <!--1.切面-->
    <bean id="myAspect" class="com.tango.spring.aop.aspectj.xml.MyAspect"/>

    <!--2. xml配置aop-->
    <aop:config>
        <!---3.配置切面-->
        <aop:aspect id="aspect" ref="myAspect">
            <!--4.配置切入点-->
            <aop:pointcut id="myPointCut" expression="execution(* com.tango.spring.aop.aspectj.xml.*.*(..))"/>
            <!--5.配置通知-->
            <!--前置通知-->
            <aop:before method=""/>
            <!--后置通知-->
            <aop:after-returning method=""/>
            <!--环绕通知-->
            <aop:around method=""/>
            <!--异常通知-->
            <aop:after-throwing method=""/>
            <!--最终通知-->
            <aop:after method=""/>

        </aop:aspect>
    </aop:config>
</beans>
