<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--定义一个bean-->
    <!--bean的默认装配方式-->
    <bean id="userDao" class="com.tango.spring.study.first.dao.impl.UserDaoImpl"/>

    <!--使用工厂类获取bean的实例-->
    <bean id="daoFactory" class="com.tango.spring.study.first.factory.DaoFactory"/>

    <!--使用 Spring 的动态工厂 Bean-->
    <bean id="userDaoByFactory" factory-bean="daoFactory" factory-method="getUserDao"/>


    <!--Bean 的Scope 种类-->
    <!--Single 单例模式：整个spring容器中，获取bean都是只有一个实例-->
    <!--prototype 原型模式：通过getBean方法获取的实例都是一个新的实例-->
    <!--request ：对于每次 HTTP 请求，都将会产生一个不同的 Bean 实例-->
    <!--session对于每个不同的 HTTP session，都将产生一个不同的 Bean 实例-->
    <!--对于 scope 的值 request、 session 与 global session， 只有在 Web 应用中使用 Spring 时，该作用域才有效-->
    <bean id="userDaoSingle" class="com.tango.spring.study.first.dao.impl.UserDaoImpl" scope="singleton"/>
    <bean id="userDaoPrototype" class="com.tango.spring.study.first.dao.impl.UserDaoImpl" scope="prototype"/>

    <!--初始化方法Init-method和 销毁方法destroy-method-->
    <!--destroy-method 需要容器关闭时，才执行-->
    <bean id="userDaoInitAndDestroyMethod" class="com.tango.spring.study.first.dao.impl.UserDaoImpl"
          init-method="initUserDaoImpl" destroy-method="destroyUserDaoImpl"/>


    <!--属性注入-->
    <!--必须有默认无参的构造函数-->
    <!--属性必须有setter()方法-->
    <bean id="userProperty" class="com.tango.spring.study.first.domain.User">
        <property name="userName" value="Property"/>
        <property name="age" value="26"/>
        <property name="password" value="Abcd123456"/>
    </bean>

    <!--构造函数注入-->
    <bean id="userConstructor" class="com.tango.spring.study.first.domain.User">
        <constructor-arg index="0" value="Constructor"/>
        <constructor-arg index="1" value="26"/>
        <constructor-arg index="2" value="Abcd123456"/>
    </bean>


    <!-- 复杂类型注入：Array、List、Set、Map、Properties-->
    <bean id="collection" class="com.tango.spring.study.first.collection.MyCollection">
        <!--array-->
        <property name="array">
            <array>
                <value>123</value>
                <value>abc</value>
            </array>
        </property>
        <!--list-->
        <property name="list">
            <list>
                <value>456</value>
                <value>dddadfa</value>
            </list>
        </property>
        <!--set-->
        <property name="set">
            <set>
                <value>1223123</value>
                <value>34234123</value>
                <value>sdfasdf</value>
            </set>
        </property>
        <!--map-->
        <property name="map">
            <map>
                <entry key="usernane" value="tango"/>
                <entry key="password" value="Abcd123456"/>
                <!-- 引用的key和引用的value-->
                <entry key-ref="userDao" value-ref="daoFactory"/>
            </map>
        </property>
        <!--properties-->
        <property name="properties">
            <props>
                <prop key="administrator">administrator@example.org</prop>
                <prop key="support">support@example.org</prop>
                <prop key="development">development@example.org</prop>
            </props>
        </property>
    </bean>
</beans>